* {
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 20px;
}

form {
    margin: 100px auto;
    display: block;
    background-color: rgb(173, 179, 172);
    padding: 100px;
    width: 50%;
    text-align: center;
}

b {
    padding: 6px;
    width: 100%;
}

/* cambiamos estilo de letra input */
b::before {
    content: "Me suscribi";
    color:#fff
}

b::after {
    content: "todo tendencias";
    color: red;
}