
.titulo-h2{
	color: red;
}
#ide-element{
	color: green;
}#ide-element2{
	color: blue;
}
[atributo="sii"]{
	color: black;
}

h3 p{
	color: green;
}h3 p{
	color: red;
}
p{
	color: violet;
}
.h3-class b {
	color: red;

}
.h3-class b span{
	color: red;
}


/* seudoclases*/
p:hover{
	color:red; 
}