*  {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 40px;
}

div {
    width: 200px;
    height: 200px;
    background: greenyellow;
    display: inline-block;
}

.caja1 {
    outline: 5px solid red;
    position: relative;
    border: 4px solid;
}
.caja2 {
    outline: 5px solid red;
    position: relative;
    border: 4px solid;
}

.caja3 {
    outline: 5px solid red;
    position: relative;
    border: 4px solid;

}
.caja4 {
    outline: 5px solid red;
    position: relative;
    border: 4px solid;
}