*  {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 40px;
}

body {
    padding-top: 100px;
}

.caja-fixed {
    background: red;
    position: fixed;
    /* opacity: 0.4; */
    /* top: 20px; */
    margin: -100px;
}