* {
  font-family: "Lobster", cursive;
  font-weight: 100;
  font-size: 20px;
}

.caja1 {
    padding: 20px;
    background-color: blue;
    /* transition: background 0.12s; */
    color: #fff;
}

.caja1:hover {
    padding: 20px;
    background: darkblue;
    color: #000;
}