* {
  font-family: sans-serif;
  font-weight: 100;
}

.nav__responsive-ul {
  display: none;
}

.nav {
  background-color: darkslateblue;
}

.nav__li {
  /* para que se pongan uno al lado del otro der a izq */
  display: inline-block;
  padding: 12px;
  color: #fff;
}

.nav__li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav__li:hover {
  color: #bbb;
}

.nav__li a {
  color: #fff;
  text-decoration: none;
}


.nav__li i {
  /* width: 30px; */
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}

@media only screen and (max-width: 500px) {
  .nav ul {
    display: none;
  }
  .nav__responsive-ul {
    display: block;
  }
}
